h2 {
    display: block;
    font-size: 26px;
    font-weight: bold;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #333;
}

a:hover,
a:focus {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #333;
}

.modal-header {
    text-align: center;
}

p {
    color: #475055;
    font-size: 12px;
    margin-bottom: 14px;
    line-height: 20px;
}

h3 {
    font-weight: 600;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

hr {
    border-top: 2px solid #ccc;
}

.arrow-bg {
    background-color: rgba(0, 0, 0, 0.74);
    padding: 2px;
}

.spacer {
    margin-top: 30px;
}

.para p {
    margin: 2px;
    font-size: 11px !important;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


/********************************/


/*          Media Queries       */


/********************************/


/*programme page*/


/********************************/

ul {
    padding: 0px;
}

ul li {
    list-style-type: none;
}

ul.list-items li {
    font-size: 15px;
    color: #555;
    padding-bottom: 12px;
}

.navbar-nav {
    float: right;
    margin-top: 50px;
}

ul.horizantalUL li {
    font-size: 40px;
    padding: 16px;
    float: left;
}

.quot {
    font-size: 12px;
    font-weight: 300;
}

.para {
    border: solid 1px green;
    padding: 5px;
    text-align: left;
}

.para .lead {
    padding: 2px;
}

.para .movetext {
    behavior: scroll;
    direction: left;
}

.para strong {
    color: #72bf44;
    font-size: 22px !important;
}

h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}

p.small {
    font-size: 14px;
}

.go-corner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    max-width: 362px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
    height: 300px;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.card1:hover:before {
    -webkit-transform: scale(42);
    transform: scale(42);
}

.card1:hover p {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #ffffff;
}

.printblock {
    margin-top: 25px;
    box-shadow: 2px 2px 10px 5px rgb(224, 223, 220);
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

.head {
    min-height: 20px;
    background-color: burlywood;
    text-align: center;
    font-size: large;
}

.heads {
    text-align: center;
    font-size: large;
}

.mag {
    margin: 4rem !important;
}

.dat-loc {
    font-weight: bold;
    color: darkorange;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: transparent;
    background: rgba(0, 0, 0, 0.2);
}

.modal-content {
    margin: 10% auto;
    width: 60%;
    height: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

@media only screen and (max-width:767px) {
    .modal-content {
        width: 80%;
    }
    .modal-header h2 {
        font-size: medium;
    }
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
    font-size: 18px;
}

.modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background: dodgerblue;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
}

.modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: dodgerblue;
}

.modal-footer h3 {
    color: #fff;
}

.close {
    float: right;
    font-size: 30px;
    color: #ffffff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}