/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .menu-image-titlef {
        margin-left: 60%;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    .menu-image-titlef {
        margin-left: 60%;
    }
}

@media only screen and (min-width: 480px) {
    .menu-image-titlef {
        margin-left: 70%;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 668px) and (max-width: 768px) {
    .menu-image-titlef {
        margin-left: 120%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-image-titlef {
        margin-left: 25%;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .menu-image-titlef {
        margin-left: 25%;
    }
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

small {
    font-size: 80%
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

 :after,
 :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 14px
}

.h6,
h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.small,
small {
    font-size: 85%
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple],
select[size] {
    height: auto
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

[data-toggle=buttons]>.btn input[type=checkbox],
[data-toggle=buttons]>.btn input[type=radio],
[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
[data-toggle=buttons]>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Segoe UI'
}

ul.resp-tabs-list,
p {
    margin: 0;
    padding: 0
}

body {
    background: #FFF;
    font-family: 'HelveticaLTStd-Light', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #54585a;
    position: relative
}

p {
    margin-bottom: 18px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 18px 0;
    padding: 0;
    font-family: 'HelveticaLTStd-BoldCond'
}

a {
    color: #54585a
}

a:hover,
a:focus {
    text-decoration: none;
    color: #f60;
    outline: 0 !important
}

input,
textarea {
    font-family: 'HelveticaLTStd-Light', Arial, Helvetica, sans-serif;
    border: solid 1px #e7e5e6;
    padding: 5px 10px;
    resize: none
}

textarea:focus,
input:focus {
    outline: 0
}

.orangetext {
    color: #f60
}

@media only screen and (min-width:1200px) {
    .container {
        width: 89.7%
    }
}

.main-container {
    padding: 50px 0;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.main-container.nobottpadd {
    padding-bottom: 0
}

.main-container p a {
    color: #f60
}

.main-container p a:hover {
    color: #54585a
}

.left-sidebar {
    width: 27%;
    float: left;
    margin-right: 4%
}

.left-sidebar .side-block-title {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'HelveticaLTStd-BoldCond';
    background: #54585a;
    text-align: center;
    padding: 10px 15px
}

.left-sidebar .side-block-content {
    border: 1px solid #d6d7d8;
    border-top: 0;
    float: left;
    width: 100%
}

.left-sidebar .side-block-content ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0
}

.left-sidebar .side-block-content ul>li {
    padding: 25px 25px 15px;
    border-bottom: 1px solid #d6d7d8;
    font-family: 'HelveticaLTStd-Cond';
    position: relative
}

.left-sidebar .side-block-content ul>li:last-child {
    border-bottom: 0
}

.left-sidebar .side-block-content ul>li>a {
    text-transform: uppercase;
    color: #54585a;
    line-height: normal;
    display: inline-block;
    vertical-align: top
}

.left-sidebar .side-block-content ul>li>a>em {
    float: left;
    margin: -10px 0 0;
    width: 50px
}

.left-sidebar .side-block-content ul>li>a:hover,
.left-sidebar .side-block-content ul>li.active>a {
    color: #f60
}

.right-content-container {
    float: left;
    width: 69%
}

.Corporate .partners-list {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.Corporate .partners-list li {
    float: left;
    width: 31%;
    margin: 0 3% 17px 0;
    border: 1px solid #d9dadb
}

.Corporate .partners-list li:nth-child(3n) {
    margin-right: 0
}

.Corporate .partners-list li .imgfield {
    display: block;
    border-bottom: 1px solid #d9dadb;
    text-align: center
}

.Corporate .partners-list li .imgfield img {
    width: 100%
}

.Corporate .partners-list li p {
    padding: 10px;
    line-height: 24px;
    background: #f2f2f2;
    margin: 0;
    font-size: 13px
}

.Corporate .partners-list li p a {
    color: #ff6e0d
}

.Corporate .partners-list li p a:hover {
    color: #54585a
}

.right-content-container .testimonialrow {
    margin-top: 25px
}

.right-content-container .testimonial {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 26px 15px;
    font-family: 'TrebuchetMS';
    margin-bottom: 25px
}

.right-content-container .item:nth-child(even) .testimonial {
    background: #f6f6f6
}

.right-content-container .testimonial .leftimg {
    float: left;
    padding-right: 1%;
    text-align: center;
    margin-top: -7px;
    width: 17%
}

.right-content-container .testimonial .leftimg .img {
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    margin-bottom: 12px;
    overflow: hidden;
    vertical-align: top;
    width: 100px
}

.right-content-container .testimonial .title {
    color: #f60;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase
}

.right-content-container .testimonial .rightsection {
    border-left: 1px solid #e2e2e2;
    color: #54585a;
    display: inline-block;
    line-height: 20px;
    padding-left: 24px;
    padding-top: 5px;
    position: relative;
    vertical-align: top;
    width: 83%;
    position: relative;
    z-index: 1;
    min-height: 130px
}

.right-content-container .testimonial .rightsection:before {
    content: '\f10d';
    font-family: "FontAwesome";
    font-size: 72px;
    left: 24px;
    line-height: 74px;
    position: absolute;
    top: -10px;
    z-index: -1;
    color: #e9e9e9
}

.right-content-container .testimonial .rightsection p {
    margin-bottom: 12px
}

.btn-row {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 35px
}

.btn-row a {
    font-size: 16px;
    font-family: 'TrebuchetMS';
    width: 70px;
    height: 28px;
    line-height: 26px;
    color: #fff;
    background: #f60;
    text-align: center;
    display: inline-block;
    vertical-align: top
}

.btn-row a:hover {
    background: #54585a
}

.quote-box {
    padding: 10px 20px;
    background: #f5f5f5;
    border-left: 3px solid #fe7316;
    display: block;
    margin: 10px 0
}

.quote-box a {
    color: #f60
}

.quote-box.marg-topbott {
    margin: 35px 0
}

.withouttabcon .left-box {
    float: left;
    width: 60.5%;
    margin-right: 4.5%
}

.withouttabcon p,
.internship p {
    text-align: justify
}

.withouttabcon .sub-title {
    font-size: 18px;
    font-family: 'HelveticaLTStd-Bold';
    margin: 15px 0 10px
}

.withouttabcon .listing {
    margin: 0;
    padding: 0;
    list-style: none
}

.withouttabcon .listing li {
    position: relative;
    padding-left: 18px;
    margin-top: 18px;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.withouttabcon .listing li:before {
    content: '\f101';
    font-family: 'FontAwesome';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    color: #f46900
}

.withouttabcon .listing li a {
    color: #f60
}

.quote-box {
    padding: 10px 20px;
    background: #f5f5f5;
    border-left: 3px solid #fe7316;
    display: block;
    margin: 10px 0
}

.quote-box a {
    color: #f60
}

.quote-box.marg-topbott {
    margin: 35px 0
}

.fontsize18 {
    font-size: 18px
}

.withouttabcon .form-box {
    float: left;
    width: 35%;
    padding: 12px;
    background: #f46900
}

.withouttabcon .form-box form {
    border: 1px solid rgba(255, 255, 255, .62);
    padding: 15px
}

.withouttabcon .form-box h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-family: 'HelveticaLTStd-Roman';
    text-transform: uppercase
}

.withouttabcon .form-box .inputbox {
    border-bottom: 1px solid rgba(255, 255, 255, .62);
    margin-bottom: 18px;
    padding: 5px 0;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.withouttabcon .form-box .inputbox .captchaimg {
    float: right;
    width: 45%
}

.withouttabcon .form-box .inputbox br {
    display: none
}

.withouttabcon .form-box input[type="text"],
.withouttabcon .form-box input[type="email"],
.withouttabcon .form-box input[type="tel"] {
    width: 100%;
    background: none;
    border: 0;
    padding: 0 12px;
    font-family: 'HelveticaLTStd-Roman';
    line-height: normal
}

.withouttabcon .form-box input[type="text"]::-webkit-input-placeholder,
.withouttabcon .form-box input[type="email"]::-webkit-input-placeholder,
.withouttabcon .form-box input[type="tel"]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1 !important
}

.withouttabcon .form-box input[type="text"]::-moz-placeholder,
.withouttabcon .form-box input[type="email"]::-moz-placeholder,
.withouttabcon .form-box input[type="tel"]::-moz-placeholder {
    color: #fff;
    opacity: 1 !important
}

.withouttabcon .form-box input[type="text"]:-ms-input-placeholder,
.withouttabcon .form-box input[type="email"]:-ms-input-placeholder {
    color: #fff;
    opacity: 1 !important
}

.withouttabcon .form-box input[type="text"]:-moz-placeholder,
.withouttabcon .form-box input[type="email"]:-moz-placeholder,
.withouttabcon .form-box input[type="tel"]:-moz-placeholder {
    color: #fff;
    opacity: 1 !important
}

.withouttabcon .form-box .inputbox.selectbox .bootstrap-select {
    width: 100% !important
}

.withouttabcon .form-box .inputbox.selectbox .btn-default {
    border: 0;
    color: #fff;
    padding: 0 12px;
    line-height: normal
}

.withouttabcon .form-box .inputbox.selectbox .btn-default .caret {
    right: 20px !important;
    margin-top: -7px !important
}

.withouttabcon .form-box .inputbox.captcharow input[type="text"] {
    width: 52%;
    margin-right: 1%
}

.withouttabcon .form-box .buttonrow {
    text-align: center
}

.withouttabcon .form-box .buttonrow .submitbtn {
    display: inline-block;
    vertical-align: top;
    width: 172px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, .62);
    background: #fff;
    box-shadow: 0 0 0 3px #f60 inset;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    color: #f60;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 1px
}

.withouttabcon .form-box .buttonrow .submitbtn:hover {
    color: #54585a
}

.withouttabcon .form-box .inputbox.filetype {
    padding: 5px 12px
}

.withouttabcon .form-box .inputbox.filetype>label {
    font-weight: normal;
    color: #fff;
    font-family: 'HelveticaLTStd-Roman';
    line-height: normal;
    margin-bottom: 8px
}

.withouttabcon .form-box .inputbox.filetype .btn-default {
    border: 0;
    border-radius: 0;
    font-size: 13px;
    color: #f46900;
    padding: 2px 5px;
    font-family: 'HelveticaLTStd-Roman'
}

.withouttabcon .form-box .inputbox.filetype .btn-default:hover {
    background: #fff
}

.withouttabcon .form-box .inputbox.filetype .form-control {
    box-shadow: none;
    height: 22px;
    font-size: 12px
}

.withouttabcon .internship h3.sub-title {
    font-size: 22px;
    line-height: 26px;
    color: #f46900;
    font-family: 'HelveticaLTStd-Bold';
    margin: 15px 0 5px;
    display: block
}

.withouttabcon .internship .benefit-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.withouttabcon .internship .benefit-list li {
    margin-bottom: 15px
}

.withouttabcon .internship .rounded-list {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin: 10px 0 0
}

.withouttabcon .internship .rounded-list li {
    position: relative;
    display: block;
    padding: 0 0 0 35px;
    margin: 0 0 20px;
    transition: all .3s ease-out
}

.withouttabcon .internship .rounded-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    background: #f46900;
    height: 19px;
    width: 19px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease-out;
    margin: auto
}

.viewpartnerbtn {
    display: inline-block;
    vertical-align: top;
    width: 209px;
    height: 44px;
    border: 1px solid #e1b528;
    background: #e1b528;
    box-shadow: 0 0 0 3px #fff inset;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px
}

.viewpartnerbtn i {
    font-size: 18px
}

.viewpartnerbtn:hover {
    background: #f60;
    border-color: #f60;
    color: #fff
}

p a.viewpartnerbtn {
    color: #fff
}

p a.viewpartnerbtn i {
    font-size: 18px
}

p a.viewpartnerbtn:hover {
    color: #fff
}

.ways-to-partner {
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.ways-to-partner h2 {
    text-transform: uppercase;
    margin-bottom: 45px
}

.ways-to-partner ul {
    list-style: none;
    margin: 0 0 35px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.ways-to-partner ul li {
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px 35px;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    min-height: 400px
}

.ways-to-partner.individual ul li {
    min-height: 430px
}

.ways-to-partner.corporates ul li {
    min-height: 405px
}

.ways-to-partner ul li:nth-child(2n) {
    border-right: 0
}

.ways-to-partner ul li:first-child,
.ways-to-partner ul li:nth-child(2) {
    border-top: 0
}

.ways-to-partner ul li em {
    margin-bottom: 10px;
    display: block
}

.ways-to-partner ul li h3 {
    font-size: 24px;
    line-height: 28px;
    font-family: 'HelveticaLTStd-BoldCond';
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #f60
}

.ways-to-partner ul li h3 a {
    color: #f60
}

.left-sidebar .side-block-content ul>li ul.sub-menu {
    margin-left: 25%;
    display: none
}

.left-sidebar .side-block-content ul>li.current-menu-item ul.sub-menu,
.left-sidebar .side-block-content ul>li.current-menu-ancestor ul.sub-menu {
    display: block
}

.left-sidebar .side-block-content ul>li li {
    border: medium none;
    font-size: 13px;
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
    width: 100%;
    margin-bottom: 12px;
    padding: 0
}

.left-sidebar .side-block-content ul>li li::before {
    background: #54585a none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: -11px;
    position: absolute;
    top: 5px;
    width: 6px
}

.left-sidebar .side-block-content ul>li li:hover a,
.left-sidebar .side-block-content ul>li li:hover,
.left-sidebar .side-block-content ul>li.current-menu-item>a,
.left-sidebar .side-block-content ul>li.current-menu-ancestor>a {
    color: #f60
}

.left-sidebar .side-block-content ul>li li:hover::before,
.left-sidebar .side-block-content ul>li.current-menu-ancestor li.current_page_item::before {
    background: #f60
}

.left-sidebar .side-block-content ul>li>i {
    border: 1px solid #d6d6d6;
    display: inline-block;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 35px;
    vertical-align: top;
    width: 15px;
    cursor: pointer;
    text-align: center
}

.left-sidebar .side-block-content ul>li>i::after {
    content: "";
    font-family: fontawesome;
    font-size: 10px;
    font-style: normal;
    left: 0;
    line-height: 13px;
    position: relative
}

.left-sidebar .side-block-content ul>li.current-menu-item>i::after,
.left-sidebar .side-block-content ul>li.current-menu-ancestor>i::after {
    content: "";
    font-size: 8px
}

.withouttabcon .form-box .inputbox {
    position: relative
}

.withouttabcon .form-box .inputbox .wpcf7-form-control-wrap {
    position: static
}

.withouttabcon .form-box div.wpcf7 .ajax-loader {
    position: absolute
}

.withouttabcon .form-box span.wpcf7-not-valid-tip {
    background: #f00 none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    padding: 0 2px;
    position: absolute;
    right: 0;
    bottom: -9px
}

.withouttabcon .form-box .inputbox.captcharow span.wpcf7-not-valid-tip {
    top: 33px
}

.withouttabcon .form-box div.wpcf7-response-output {
    color: #fff;
    font-size: 13px;
    line-height: normal;
    margin: 15px 0 0;
    padding: 3px 12px
}

@media only screen and (max-width:1199px) {
    .container {
        width: 96%
    }
    .main-container {
        padding: 30px 0
    }
    .Corporate .partners-list li p {
        min-height: 140px
    }
    .withouttabcon .left-box {
        margin-right: 2.5%;
        width: 53.5%
    }
    .withouttabcon .form-box {
        width: 44%
    }
    .ways-to-partner.corporates ul li {
        min-height: 530px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .left-sidebar {
        width: 29%;
        margin-right: 3%
    }
    .left-sidebar .side-block-content ul li {
        padding: 20px 10px 10px
    }
    .left-sidebar .side-block-content ul li a {
        font-size: 13px
    }
    .left-sidebar .side-block-content ul li a em {
        transform: scale(0.8);
        transform-origin: 0 50% 0;
        width: 45px
    }
    .right-content-container {
        width: 68%
    }
    .Corporate .partners-list li {
        width: 48.5%
    }
    .Corporate .partners-list li:nth-child(3n) {
        margin-right: 3%
    }
    .Corporate .partners-list li:nth-child(2n) {
        margin-right: 0
    }
    .Corporate .partners-list li p {
        min-height: 116px
    }
    .ways-to-partner.individual ul li {
        min-height: 505px
    }
}

@media only screen and (max-width:991px) {
    .right-content-container .testimonial .leftimg {
        width: 27%
    }
    .right-content-container .testimonial .rightsection {
        width: 73%;
        padding-left: 15px
    }
    .right-content-container .testimonial {
        margin-bottom: 5px
    }
    .ways-to-partner ul li {
        padding: 15px
    }
    .withouttabcon .left-box {
        margin: 0;
        width: 100%
    }
    .withouttabcon .form-box {
        width: 66%;
        margin: 0 17%
    }
    .ways-to-partner.corporates ul li {
        min-height: 580px
    }
    .ways-to-partner.individual ul li {
        min-height: 550px
    }
}

@media only screen and (min-width:768px) {
    .left-sidebar .side-block-content {
        display: block !important
    }
}

@media only screen and (max-width:767px) {
    body {
        line-height: 20px
    }
    .container {
        width: 100%
    }
    .btn-row {
        margin-top: 15px
    }
    .img-full {
        margin: 15px 0
    }
    .main-container {
        padding: 15px 0
    }
    .left-sidebar {
        width: 100%;
        margin: 0 0 15px
    }
    .left-sidebar .side-block-title {
        position: relative;
        cursor: pointer;
        text-align: left
    }
    .left-sidebar .side-block-content {
        display: block
    }
    .left-sidebar .side-block-content.hide {
        display: none
    }
    .left-sidebar .side-block-title:after {
        font-size: 26px;
        position: absolute;
        right: 15px;
        top: 10px
    }
    .left-sidebar .side-block-content ul li {
        padding: 15px 15px 5px
    }
    .left-sidebar .side-block-content ul li a em {
        transform: scale(0.8);
        transform-origin: 0 50% 0
    }
    .right-content-container {
        width: 100%
    }
    .process-img {
        margin: 0 0 15px
    }
    .right-content-container .testimonialrow {
        margin-top: 0
    }
    .ways-to-partner ul {
        margin-bottom: 5px
    }
    .ways-to-partner ul li {
        min-height: 405px
    }
    .ways-to-partner ul li h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px
    }
    .ways-to-partner ul li p {
        margin-bottom: 10px
    }
    .viewpartnerbtn {
        margin-top: 5px
    }
    .fontsize18 {
        font-size: 15px
    }
    .tab-container .tab-content .volunteer .sub-title {
        font-size: 20px
    }
    .tab-container .tab-content .volunteer .listing li {
        margin-top: 10px
    }
    .quote-box.marg-topbott {
        margin: 15px 0
    }
    .ways-to-partner.corporates ul li {
        min-height: 405px
    }
    .ways-to-partner.individual ul li {
        min-height: 405px
    }
}

@media only screen and (max-width:639px) {
    .ways-to-partner ul li,
    .ways-to-partner.corporates ul li {
        min-height: 510px
    }
    .Corporate .partners-list li {
        width: 48.5%
    }
    .Corporate .partners-list li:nth-child(3n) {
        margin-right: 3%
    }
    .Corporate .partners-list li:nth-child(2n) {
        margin-right: 0
    }
    .Corporate .partners-list li p {
        min-height: 116px
    }
    .ways-to-partner.individual ul li {
        min-height: 485px
    }
}

@media only screen and (max-width:479px) {
    .right-content-container .testimonial {
        padding: 25px 15px 5px
    }
    .right-content-container .testimonial .leftimg {
        width: 100%
    }
    .right-content-container .testimonial .rightsection {
        width: 100%;
        margin-top: 15px;
        padding: 15px 0 0;
        border-left: 0;
        border-top: 1px solid #e2e2e2
    }
    .right-content-container .testimonial .rightsection em {
        top: 5px;
        left: 0
    }
    .right-content-container .testimonial .rightsection:before {
        left: 0;
        top: 5px
    }
    .ways-to-partner ul li,
    .ways-to-partner.corporates ul li,
    .ways-to-partner.individual ul li {
        min-height: inherit;
        width: 100%;
        border: 0 !important;
        border-top: 1px solid #eee !important
    }
    .Corporate .partners-list li {
        width: 100%;
        margin: 0 0 15px !important
    }
    .Corporate .partners-list li p {
        min-height: inherit
    }
    .withouttabcon .form-box {
        width: 100%;
        margin: 0
    }
}

.menu-item a img {
    border: 0;
    box-shadow: none;
    vertical-align: middle;
    width: auto;
    display: inline
}

.menu-item a.menu-image-hovered img.hovered-image,
.menu-item a.menu-image-hovered:hover img.menu-image {
    opacity: 0;
    transition: opacity .25s ease-in-out 0s
}

.menu-item a.menu-image-hovered:hover img.hovered-image {
    opacity: 1
}

.menu-item a.menu-image-title-after.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    padding-right: 10px
}

.menu-item a.menu-image-title-before.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-before .menu-image-hover-wrapper {
    padding-left: 10px
}

.menu-item a.menu-image-title-above,
.menu-item a.menu-image-title-below {
    text-align: center
}

.menu-item a.menu-image-title-above.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-above .menu-image-hover-wrapper {
    display: block;
    padding-top: 10px;
    margin: 0 auto
}

.menu-item a.menu-image-title-below.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-below .menu-image-hover-wrapper {
    display: block;
    padding-bottom: 10px;
    margin: 0 auto
}

.menu-item a.menu-image-title-hide .menu-image-title {
    display: none
}

.menu-item1 a img {
    border: 0;
    box-shadow: none;
    vertical-align: middle;
    width: auto;
    display: inline
}

.menu-item1 a.menu-image-hovered img.hovered-image,
.menu-item1 a.menu-image-hovered:hover img.menu-image {
    opacity: 0;
    transition: opacity .25s ease-in-out 0s
}

.menu-item1 a.menu-image-hovered:hover img.hovered-image {
    opacity: 1
}

.menu-item1 a.menu-image-title-after.menu-image-not-hovered img,
.menu-item1 a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    padding-right: 10px
}

.menu-item1 a.menu-image-title-before.menu-image-not-hovered img,
.menu-item1 a.menu-image-hovered.menu-image-title-before .menu-image-hover-wrapper {
    padding-left: 10px
}

.menu-item1 a.menu-image-title-above,
.menu-item1 a.menu-image-title-below {
    text-align: center
}

.menu-item1 a.menu-image-title-above.menu-image-not-hovered img,
.menu-item1 a.menu-image-hovered.menu-image-title-above .menu-image-hover-wrapper {
    display: block;
    padding-top: 10px;
    margin: 0 auto
}

.menu-item1 a.menu-image-title-below.menu-image-not-hovered img,
.menu-item1 a.menu-image-hovered.menu-image-title-below .menu-image-hover-wrapper {
    display: block;
    padding-bottom: 10px;
    margin: 0 auto
}

.menu-item1 a.menu-image-title-hide .menu-image-title {
    display: none
}