body {
    font-family: 'Merriweather Sans', arial, sans-serif;
    color: #666;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

p {
    margin-bottom: 16px;
    line-height: 1.5
}

a {
    color: #5cbbdb;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out
}

a:hover {
    text-decoration: underline;
    color: #47b3d7
}

a:focus {
    text-decoration: none
}

.btn,
a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-weight: bold;
    padding: 8px 15px;
}

.btn .svg-inline--fa,
a.btn .svg-inline--fa {
    color: #fff;
    margin-right: 5px
}

.btn:focus,
a.btn:focus {
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

a.btn-cta,
.btn-cta {
    padding: 8px 30px
}

a.btn-cta-primary,
.btn-cta-primary {
    background: #eea740;
    border: none;
    color: #fff
}

a.btn-cta-primary:hover,
.btn-cta-primary:hover {
    background: #ec9c29;
    border: none;
    color: #fff
}

a.btn-cta-secondary,
.btn-cta-secondary {
    background: #65758e;
    border: none;
    color: #fff
}

a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
    background: #505c70;
    border: none;
    color: #fff
}

.highlight {
    color: #71c4e0
}

textarea.form-control {
    height: auto
}

.text-highlight {
    color: #217997
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
    appearance: none;
    -webkit-appearance: none
}

.header-wrapper-work img {
    width: 100%;
    height: 400px;
    background: #65758e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    color: #fff;
    width: 100%;
    z-index: 40;
    padding: 15px inherit;
    background: rgba(48, 56, 67, 0.9);
    -webkit-transition: padding 0.6s ease-in-out;
    -moz-transition: padding 0.6s ease-in-out;
    -ms-transition: padding 0.6s ease-in-out;
    -o-transition: padding 0.6s ease-in-out
}

.header.navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px
}

.header.header-shrink {
    padding: 0px inherit
}

.header.header-shrink h1.logo {
    font-size: 20px;
    line-height: 2.4
}

.header.header-shrink .main-nav .nav .nav-item {
    font-size: 12px
}

.header h1.logo {
    font-family: "Russo One", arial, sans-serif;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 26px;
    float: left;
    line-height: 1.8
}

.header h1.logo a {
    color: #fff
}

.header h1.logo a:hover {
    text-decoration: none
}

.header h1.logo a .highlight {
    color: #71c4e0
}

.header .main-nav {
    padding: 0
}

.header .main-nav .navbar-toggler {
    background: none;
    position: absolute;
    right: 0;
    top: -42px;
    padding: 2px 9px
}

.header .main-nav .navbar-toggler:focus {
    outline: none
}

.header .main-nav .nav .nav-item {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 15px
}

.header .main-nav .nav .nav-item.active>.nav-link {
    color: #71c4e0;
    background: none;
    font-weight: bold
}

.header .main-nav .nav .nav-item .nav-link {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px
}

.header .main-nav .nav .nav-item .nav-link:hover {
    color: #71c4e0;
    background: none
}

.header .main-nav .nav .nav-item .nav-link:focus {
    outline: none;
    background: none
}

.header .main-nav .nav .nav-item .nav-link:active {
    outline: none;
    background: none
}

.header .main-nav .nav .nav-item.active {
    color: #71c4e0
}

.header .main-nav .nav .nav-item.last {
    margin-right: 0
}

.header .main-nav .nav.active {
    position: relative
}

.header .main-nav .nav.active>a {
    background: #47b3d7;
    color: #fff;
    color: rgba(255, 255, 255, 0.8)
}

.header .main-nav .nav.active>a:before {
    content: "\f0d8";
    position: absolute;
    bottom: -8px;
    left: 0;
    text-align: center;
    font-family: FontAwesome;
    display: block;
    font-size: 12px;
    width: 100%
}

.header .main-nav .nav.active>a.dropdown-toggle:before {
    display: none
}

.header .main-nav .nav.open a {
    background: none
}

.header .main-nav .nav .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    border: none;
    text-transform: none;
    min-width: 180px;
    background: #47b3d7;
    padding-top: 5px;
    padding-bottom: 5px
}

.header .main-nav .nav .dropdown-menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #47b3d7;
    position: absolute;
    right: 35px;
    top: -8px
}

.header .main-nav .nav .dropdown-menu a {
    border-bottom: 1px solid #32aad2;
    padding: 8px 20px;
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    font-size: 14px
}

.header .main-nav .nav .dropdown-menu a:hover {
    background: #2a9bc1;
    color: #fff
}

.promo {
    color: #fff;
    margin-top: -160px
}

.promo .title {
    font-size: 36px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 800;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase
}

.promo .intro {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.work-list {
    padding: 30px 0 0px 0;
    background: #f5f5f5
}

.work-list .title {
    font-size: 30px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 800;
    color: #505c70;
    margin-top: 0;
    margin-bottom: 10px
}

.work-list .button-group {
    clear: both;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.work-list .button-group .btn {
    background: #acb0b6;
    color: #fff;
    font-weight: 400;
    margin-right: 0px;
    margin-bottom: 6px;
    font-size: 13px;
    border-radius: 4px;
}

.work-list .button-group .btn.last {
    margin-right: 0
}

.work-list .button-group .btn:hover {
    background: #65758e
}

.work-list .button-group .btn.is-checked {
    background: #65758e
}

.work-list .item {
    margin-bottom: 60px
}

.work-list .item .item-inner {
    background: #fff;
    height: 100%
}

.work-list .item .sub-title a {
    color: #65758e
}

.work-list .item .sub-title a:hover {
    color: #71c4e0
}

.work-list .item .figure {
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    overflow: hidden;
    margin-bottom: 0
}

.work-list .item .figure img {
    width: 100%;
    height: 350px;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear
}

.work-list .item .figure .info-mask {
    text-decoration: none;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    padding: 30px;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(48, 56, 67, 0.9)
}

.work-list .item .figure .info-mask span {
    display: block;
    margin-bottom: 15px;
    color: #fff
}

.work-list .item .figure .info-mask span.btn {
    display: inline-block
}

.work-list .item .figure .info-mask span.btn:hover {
    background: #ec9c29
}

.work-list .item .figure:hover .info-mask {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.work-list .item .figure:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.work-list .item .content {
    padding: 30px
}

.work-list .item .content .sub-title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px
}

.work-list .item .content .meta {
    font-size: 14px;
    color: #999
}

@media (max-width: 767.98px) {
    .header {
        padding: 0px inherit
    }
    .header h1.logo {
        font-size: 20px;
        line-height: 2.4;
        float: none
    }
    .header-wrapper-work img {
        height: 280px;
    }
    .header-wrapper-home {
        min-height: 560px
    }
    .header .main-nav .nav .nav-item {
        margin-right: 0
    }
    .header .main-nav .nav .dropdown-menu {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 100%;
        padding: 0
    }
    .header .main-nav .nav .dropdown-menu:before {
        display: none
    }
    .home-promo {
        padding-top: 80px
    }
    .promo {
        padding-top: 100px
    }
    .header-wrapper-home {
        min-height: 460px
    }
    .promo .title .middle {
        font-size: 38px
    }
    .section .title {
        font-size: 26px
    }
}

@media (min-width: 768px) {
    .config-wrapper {
        display: none
    }
    .header .main-nav .nav .nav-item {
        margin-right: 10px
    }
    .modal .modal-dialog {
        width: 660px
    }
    .latest-work .item .figure-container a {
        min-height: 440px
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media (min-width: 992px) {
    .header-wrapper-home {
        height: 600px
    }
    .header h1.logo {
        float: left;
        margin: inherit
    }
    .header .main-nav .nav .nav-item {
        margin-right: 15px
    }
}